body {
    background-color: #537EFF;
    font-family: 'Raleway', sans-serif;
}

.header-div {
    display: flex;
    flex-flow: space-around;
    align-items: flex-start;
    justify-content: center;
}


.header-div img {
    height: 250px;
    width: 150px;
    margin-right: 1rem;
    border-radius: 1.5%;
    box-shadow: 5px 5px 10px #0537CC;
}

.name-title {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}

.main-article {
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    align-items: center;
}
